@media screen and (min-width: 760px) {
  main {
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-right: 15px;
  }

  .mensaje,
  .encriptar-desencriptar {
    align-items: center;
  }

  .encriptar-desencriptar img {
    width: 8%;
    margin-top: 10%;
  }

  .mensaje img {
    width: 10%;
  }

  footer {
    font-size: small;
    position: absolute;
    bottom: 0;
  }
  label {
    font-size: small;
  }
  textarea {
    height: 8.1em;
    width: 315px;
    margin-bottom: 2px;
    padding-bottom: 1px;
  }

  .botones input {
    margin-left: 40px;
    margin-right: 40px;
  }
}


@media screen and (min-width: 920px) {
  main {
    display: block;
    width: 90%;
    margin: 0 auto;
  }

  .mensaje,
  .encriptar-desencriptar {
    align-items: center;
  }

  .encriptar-desencriptar img {
    width: 15%;
    margin-top: 9%;
  }

  .mensaje img {
    width: 15%;
  }

  footer {
    font-size: larger;
  }
  label {
    font-size: larger;
  }
  textarea {
    height: 9.1em;
    width: 715px;
    margin-bottom: 2px;
    padding-bottom: 1px;
  }

  .botones input {
    margin-left: 40px;
    margin-right: 40px;
  }
}